{
    "outputSpeech": {
        "type": "PlainText",
        "text": "Please go to the alexa app and search for the transit buddy skill to create your My Transit Buddy account. Then you can add your presets at mytransitbuddy.com."
    },
    "card": {
        "type": "LinkAccount"
    },
    "shouldEndSession": true
}