{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>Transit Buddy has been updated. In order to use this feature, please visit <break time=\"300ms\"/> <emphasis>mytransitbuddy.com</emphasis> to add your presets.</speak>"
    },
    "card": {
        "type": "Simple",
        "title": "TransitBuddy Update Notice",
        "content": "TransitBuddy has been updated to provide a better user interface for adding your presets. Please go to mytransitbuddy.com to add your presets."
    },
    "shouldEndSession": "True"
}