{
    "outputSpeech": {
        "type": "PlainText",
        "text": "Transit Buddy has been updated. In order to use this feature, please go to the alexa app to create and link your My Transit Buddy account."
    },
    "card": {
        "type": "LinkAccount"
    },
    "shouldEndSession": true
}