{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>{{ with_preset }} The next bus {{ bus_id }} at stop <say-as interpret-as=\"digits\">{{ stop_id }}</say-as> <break time=\"100ms\"/> {{ stop_name }} <break time=\"300ms\"/> is {{ minutes }}. {{ account_linking }}</speak>"
    },
    "card": {
        "type": "Simple",
        "title": "TransitBuddy Check Bus Status",
        "content": "The next bus {{ bus_id }} at stop {{ stop_id }}, {{ stop_name }}, is {{ card_minutes }}."
    },
    "shouldEndSession": "True"
}
