{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>I don't understand that. Ensure you have the <break time=\"250ms\"/> My Transit Buddy account linked in the Alexa app. Then you can try saying  <break time=\"250ms\"/> ask transit buddy for preset 1.</speak>"
    },
    "shouldEndSession": false
}