{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "I didn't get that. Try saying something like <break time=\"250ms\"/>Check bus 1 at stop <say-as interpret-as=\"digits\">490</say-as>."
    },
    "shouldEndSession": true
}