{
    "outputSpeech": {
        "type": "PlainText",
        "text": "I have sent a list of available commands for you in your alexa app."
    },
    "card": {
        "type": "Simple",
        "title": "TransitBuddy Help",
        "content": "
            Here are some examples you might like to try:
            \"Check bus 151 at stop 1108\"
            \"Add bus to preset 1\"
            \"Get my bus for preset 1\"
            For a list of bus IDs and stop IDs, check out the CTA bus website
        "
    },
    "shouldEndSession": "True"
}
