{
    "outputSpeech": {
        "type": "PlainText",
        "text": "I have sent a list of available commands for you in your alexa app."
    },
    "card": {
        "type": "Simple",
        "title": "TransitBuddy Help",
        "content": "Here are some examples you might like to try:\n\"Check bus 151 at stop 1108\"\n\"Get my bus for preset 1\"\nFor a list of bus IDs and stop IDs, check out the CTA website"
    },
    "shouldEndSession": true
}
