{
    "outputSpeech": {
        "type": "PlainText",
        "text": "I have sent a list of available commands for you in your alexa app. To begin, you can say this as an example. <break time=\"250ms\"/>Check bus 12 <break time=\"250ms\"/> at stop <say-as interpret-as=\"digits\">258</say-as>."
    },
    "card": {
        "type": "Simple",
        "title": "TransitBuddy Help",
        "content": "Here are some examples you might like to try:\n\"Check bus 151 at stop 1108\"\n\"Get my bus for preset 1\"\nFor a list of bus IDs and stop IDs, check out the CTA website"
    },
    "shouldEndSession": false
}
