{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>Welcome to TransitBuddy. This skill is built to provide you with real-time transit departures. Currently, we support Chicago CTA bus, Chicago CTA train, and Chicago Pace bus. <break time=\"250ms\"/>If you need more information, please check the alexa app for the TransitBuddy skills page. To begin, please ensure you have connected your my transit buddy account. Then you can ask the following question, <break time=\"250ms\"/> ask transit buddy to get my bus.</speak>"
    },
    "card": {
        "type": "Simple",
        "title": "Welcome to TransitBuddy",
        "content": "For more details, check the TransitBuddy skills page in the Alexa app."
    },
    "shouldEndSession": false
}