{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>Welcome to TransitBuddy. This skill is built to provide you with real-time transit departures for Chicago Illinois. <break time=\"250ms\"/>If you need more information, please check the alexa app for the TransitBuddy skills page. To begin, you can say this as an example. <break time=\"250ms\"/>Check bus 1 at stop <say-as interpret-as=\"digits\">490</say-as>.</speak>"
    },
    "card": {
        "type": "Simple",
        "title": "Welcome to TransitBuddy",
        "content": "Welcome to TransitBuddy. This skill is built to provide you with real-time transit departures for Chicago Illinois.If you need more information, please check the alexa app for the TransitBuddy skills page.To begin, you can say this as an example.Check bus 1 at stop."
    },
    "shouldEndSession": "True"
}