{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>There are currently no number {{ bus_id }} bus at stop <say-as interpret-as=\"digits\">{{ stop_id }}</say-as>.</speak>"
    },
    "shouldEndSession": "True"
}
