{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>{{ with_preset }} There are currently no bus {{ bus_id }} at stop <say-as interpret-as=\"digits\">{{ stop_id }}</say-as>.</speak>"
    },
    "shouldEndSession": true
}
